<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shop with a Conscience</title>
    <link rel="stylesheet" href="/static/css/foundation.css" />
    <script src="/static/js/vendor/modernizr.js"></script>
  </head>
  <body>
    
    <div class="row">
      <div class="large-12 columns">
        <h1>Shop with a Conscience</h1>
      </div>
    </div>
    
    <div class="row">
      <div class="large-12 columns">
      	<div class="panel">
	        <h3>Search for a product on Macy's.com and find out the company's reputation on GoodGuide.org for fair labor practices.</h3>
	        <div class="row">
              <div class="large-12 columns">
              <input type="text" placeholder="What are you looking for?" />
              <a href="#" class="medium success button">Click me!</a><br/> 
            </div>  
      	</div>
      </div>
    </div>
    <script src="/static/js/vendor/jquery.js"></script>
    <script src="/static/js/foundation.min.js"></script>
    <script>
      $(document).foundation();
      $.ajax({
      //select the service and URI
      url: 'http://origin-api.macys.com/v3/catalog/reviews?productId=77589',
      //set headers with your key and select json
      headers: {
        'Accept':'application/json',
        'X-Macys-Webservice-Client-Id': 'neohack14'
      },
      success: function(data) {
        //do something with your data
        $('body').append('Look at your console in developer tools!')
        console.log(data);
      }
    });
    </script>
  </body>
</html>
