<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shop with a Conscience</title>
    <link rel="stylesheet" href="/static/css/foundation.css" />
    <link rel="stylesheet" href="/static/css/main.css" />
    <script src="/static/js/vendor/modernizr.js"></script>
  </head>
  <body>
    
    <div class="row">
      <div class="large-12 columns">
        <h1>Shop with a Conscience</h1>
      </div>
    </div>
    
    <div class="row">
      <div class="large-12 columns">
      	<div class="panel">
	        <h3>   </h3>
	        <div class="row">
              <div class="large-12 columns">
                  <input type="text" placeholder="Enter a product and store, if desired.">
                  <input type="submit" name="search" value="Search" id="searchBtn">
              </div>
            </div>  
      	</div>
      </div>
    </div>
      
<div class="row" id="searchResults">
    <div class="large-2 column filter">
        <h3>Sort by:</h3>
        <h4>Conscience Score</h4>
        <input type="radio" name="filter1" value="Average"> Average Score<br />
        <input type="radio" name="filter1" value="Social"> Society Score<br />
        <input type="radio" name="filter1" value="Health"> Health Score<br />
        <input type="radio" name="filter1" value="Environmental"> Environmental Score<br /><br />

        <h4>Brand</h4>
        <input type="checkbox" name="filter2" value="featured"> Featured<br />
        <input type="checkbox" name="filter2" value="brand1"> ActiveWear
    </div>

  <div class="large-10 column products">
      
	{% for product in products recursive %}
		{% include "product.html"%}
	{% endfor %}


  </div>
</div>


    <script src="/static/js/vendor/jquery.js"></script>
    <script src="/static/js/foundation.min.js"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>
