        		<div class="img"><a href="#"></a>
            <img src="{{product.image[0].imageurl}}"/><br />
			<div><strong>Brand</strong>: {{product.brand}}</div>
            <div><strong>Conscience Score</strong>:</div>
            <div class="avg"><span class="score">{{product.scores.average}} (Average)</span>
            <div class="extra">Society: {{product.scores.society}} Environment: {{product.scores.environment}}  Health: {{product.scores.health}}</div>
            </div> 
            <br />
            <a href="{{product.summary.producturl}}"><div class="buy">Buy</div></a>
        </div>