
<!--
		Product name: {{product.summary.name}}
		</br>
		Product price: {{product.price.regular.value}}
		</br>
		Product description: {{product.summary.description}}
		</br>
		Product onsale: {{product.summary.onsale}}
		</br>
		Product image: <img src="{{product.image[0].imageurl}}"/>
		</br>-->

        <div class="img"><a href="#"></a>
            <img src="{{product.image[0].imageurl}}"/><br />
            Price: ${{product.price.regular.value}}<br />
            Conscience score:<Br />
            Avg: 1.2 &nbsp; Social: 1.2 &nbsp; Environment: 0.6 &nbsp;  Health: 2.3
            <br />
            <a href="#"><div class="buy">Buy me now!</div></a>
        </div>